:root { 
    --primary-color: #355834;
    --primary-color-dark: #07393C;
    --secondary-color: #C2A878;
    --secondary-color-dark: #6E633D;
    --gray-color: #ccc;
    --gray-color-dark: #333;
}
/* Variables de colores para toda la web */