:root { 
    --primary-color: #E3B23C;
    --primary-color-dark: #59420D;
    --secondary-color: #423E38;
    --secondary-color-dark: #211F1C;
    --gray-color: #ccc;
    --gray-color-dark: #A39594;
}
/* Variables de colores para toda la web */