:root { 
    --primary-color: #1c4d8d;
    --primary-color-dark: #101419;
    --secondary-color: #D15536;
    --secondary-color-dark: #742C1A;
    --gray-color: #ccc;
    --gray-color-dark: #333;
}
/* Variables de colores para toda la web */