header {
    float: left;
    width: 100%;
    font-family: "NunitoSans-Regular", "Verdana", "Helvetica", sans-serif;
    text-align: center;
    margin: 20px 0;
}

header img {
    width: 120px;
}

header h1 {
    font-size: 50px;
    margin: 0;
    text-shadow: 3px 3px 3px #ccc; /*sombra en las letras */
    color: var(--primary-color); /* usamos "var" y añadimos la varible del css de colores */
}

@media (max-width: 700px) {
    
    header h1 {
        font-size: 35px;

    }

}