#main-menu {
    float: left;
    width: 100%;
    background-color: var(--primary-color);
    box-shadow: 2px 2px 5px var(--gray-color); /*sombra en el fondo*/
    text-transform: uppercase;

}

#main-menu > ul > li { /*solo "li" dentro de "ul" en la id */
    float: left;
    margin: 10px 0;
}

#main-menu > ul > li > a{  /*solo "a" dentro de "li" dentro de "ul" en la id */
    color: white;
    padding: 10px 20px;
    border-right: solid 1px var(--gray-color);
    font-size: 20px;
}

#main-menu > ul > li > a:hover {
background-color: var(--primary-color-dark);
}

#main-menu > ul > li > ul { /*solo "ul" dentro de "li" dentro de "ul" en la id */
    display: none;
    position: absolute; /*para que no ocupe espacio, luego hay que configurarlo */
    margin-top: 10px;
}

#main-menu > ul > li > ul > li > a {
    display: block; /*para que se oculte, despues hay que mostrarlo al hacer "hover" */
    color: white;
    background-color: var(--secondary-color);
    padding: 15px;
    font-size: 18px;
    border-top: 1px solid var(--gray-color);
}

#main-menu > ul > li > ul > li > a:hover {
    background-color: var(--secondary-color-dark);
}

#main-menu > ul > li:hover > ul {
    display: block; /*para que se muestre el "block" del "ul" al hacer hoover sobre el "li" anterior */
    box-shadow: 2px 2px 5px var(--gray-color);
}

@media (max-width: 700px) {

    #main-menu > ul > li {
        width: 100%;
        margin: 0;
        border-bottom: solid 1px var(--gray-color);
    }
    #main-menu > ul > li > a {
        display: block;
        text-align: center;
    }
    #main-menu > ul > li > ul {
        width: 100%;
    }

    #main-menu > ul > li > ul > li {
        text-align: center;
        
    }

    #main-menu > ul > li > ul { /*solo "ul" dentro de "li" dentro de "ul" en la id */
        display: block;
        position: initial;
        
    }

}